@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg") format("svg"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../fonts/Poppins-Medium.svg") format("svg"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.svg") format("svg"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../fonts/Poppins-Bold.svg") format("svg"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg") format("svg"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../fonts/Poppins-Medium.svg") format("svg"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.svg") format("svg"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../fonts/Poppins-Bold.svg") format("svg"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
}
.search__link {
  max-width: 222px;
  border-radius: 35px;
  padding: 11px 18px;
}
.search svg {
  margin-right: 24px;
}

.button {
  padding: 12px 32px;
  border-radius: 33px;
}
.button_dark {
  max-width: 170px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}
.button_dark svg {
  margin: 10px;
}

.header {
  margin-top: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
}
.header__container {
  display: flex;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__search {
  margin-left: auto;
}
.header .logo {
  max-height: 30px;
}
.header .logo svg {
  max-height: 30px;
}

.main-menu {
  display: flex;
  margin-left: 269px;
  margin-right: 142px;
  align-items: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.main-menu__link {
  margin-left: 32px;
  color: #000000;
}
.main-menu__link_about {
  color: #FF912B;
}

.hero {
  height: 100vh;
  background-image: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__col_left {
  max-width: 489px;
  flex-basis: 50%;
  padding: 140px 0 143px;
}
.hero__col_right {
  max-width: 527px;
  flex-basis: 50%;
  padding: 82px 0 85px;
}
.hero__order {
  display: flex;
}
.hero__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
  color: #2F2105;
}
.hero__title_color {
  color: #FF912B;
}
.hero__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #7E7D7A;
}
.hero__link {
  max-width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #F4AE26;
}

/*# sourceMappingURL=styles.css.map */
