$bg-color: #F7EBDA;

$search-color:#929292;

$orange-color:#FF902B;
$black-color:#000000;

$title-color:#2F2105;
$text-color:#7E7D7A;
$menu-color:#F4AE26;

$box-color:#FFD3909E;

$white-color:#FFFFFF;

