@import "../base/fonts";
@import "../base/variables";

.about {
    min-height: 485px;
    padding-top: 85px;
    padding-bottom: 60px;
    background-image: url(../../img/bg-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;

    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__img {
        max-width: 370px;
        margin-top: -170px;
        margin-left: 93px;
        border: 6px solid $white-color;
        border-radius: 20px;
        filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
    }

    &__info {
        max-width: 480px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 24px;
        align-items: center;
        letter-spacing: 0.04em;
        color: $bl-color;

        &_span {
            border-radius: 12px;
            text-decoration: underline $span-color;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
        align-items: center;
        letter-spacing: 0.04em;
        color: $bl-color;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
        align-items: center;
        letter-spacing: 0.04em;
        color: $text-color;
    }
 }