@import "../base/fonts";
@import "../base/variables";

.footer {
    padding: 120px 0;

    @media screen and (max-width: 1024px) {
        margin: 0 16px;
        padding: 60px 0;
    }

   &__container {
        padding: 130px 0;
        background-image: url("../../img/footer-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;

        @media screen and (max-width: 1024px) {
            padding: 70px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 26px;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em;
        color: $white-color;

        @media screen and (max-width: 860px) {
            font-size: 22px;
            line-height: 32px;
        }
    }
}