@import "../base/fonts";
@import "../base/variables";

.header {
    width: 100%;
    margin-top: 70px;
    top: 0;
    position: absolute;
    background: transparent;
    
    &__container {
        display: flex;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        margin-left: auto;
    }

    .logo {
        max-height: 30px;
        
        svg {
            max-height: 30px;
        }
    }
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 269px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    &__link {
        margin-left: 32px;
        color: $black-color;

        &_about {
            color: $span-color;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.mobile-menu {
    height: 90vh;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20;
    right: 0;
    left: 0;
    font-size: 24px;
    line-height: 28px;
    background-color: $white-color;
  
    &:hover {
      color: $bl-color;
      text-decoration: underline;
    }
  
    &__menu {
      margin: 0 auto;
      margin: 20px;
      color: $black-color;
    }
}

.burger {
    display: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-image: url("../../img/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    &-active {
        background-image: url("../../img/close-menu.svg");
    }
    
    @media (max-width: 1024px) {
      display: block;
    }
}