@import "../base/fonts";
@import "../base/variables";

.hero {
  max-height: 1200px;
  top: 0;
  background-image: url("../../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
  }

  &__enjoy {
    display: flex;
    padding-top: 50px;
  }

  &__box {
    max-width: 490px;
    margin-right: 167px;
  }

  &__img {
    max-width: 527px;
  }

  &__button {
    display: flex;
  }

  &__order {
    display: flex;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    color: $black-color;

    &_color {
      color: $span-color;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    color: $text-color;
  }
}