@import "../base/fonts";
@import "../base/variables";

.hero {
  height: 150vh;
  background-image: url("../../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 180px;
  }

  &__col {
  
      &_left {
          max-width: 489px;
          flex-basis: 50%;
          // padding: 140px 0 143px;
      }
  
      &_right {
          max-width: 527px;
          flex-basis: 50%;
          // padding: 82px 0 85px;
      }
  }

  &__order {
      display: flex;
  }

  &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 24px;
      color: $title-color;

      &_color {
          color: $orange-color;
      }
  }

  &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 32px;
      color: $text-color;
  }

  &__link {
      max-width: 118px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 24px;
      
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: $menu-color;
  }

}