@import "../base/fonts";
@import "../base/variables";

.hero {
  min-height: 1100px;
  top: 0;
  background-image: url("../../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 1024px) {
    margin: 0 auto;
  }

  &__bg-img {
    position: absolute;
    max-width: 600px;
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 180px;

    @media (max-width: 1024px) {
      padding-top: 90px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__enjoy {
    display: flex;
    padding-top: 50px;

    @media (max-width: 1024px) {
      margin: 0 auto;
      padding: 25px 20px;
      flex-direction: column;
    }
  }

  &__box {
    max-width: 490px;
    margin-right: 167px;

    @media (max-width: 1024px) {
      margin: 0 auto;
      padding: 10px 10px;
    }
  }

  &__img {
    max-width: 527px;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    &_right {
      align-items: flex-end;
    }
  }

  &__button {
    display: flex;

    @media (max-width: 1024px) {
      display: flex;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  &__order {
    display: flex;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    color: $black-color;

    &_color {
      color: $span-color;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    color: $text-color;
  }
}