@import "../base/fonts";
@import "../base/variables";

.popular {

    &__container {
        max-width: 1268px;
        margin: 0 86px 167px;  
    }

    &__title {
        font-weight: 600;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 48px;
        align-items: center;
        letter-spacing: 0.04em; 
        color: $bl-color;

        &_subtitle {
            border-radius: 12px;
            text-decoration: underline $span-color;
        }
    }

    .order {
        display: flex;
        position: relative;
        //margin: 32px 149px;
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
        // backdrop-filter: blur(2px);
        // border-radius: 12px;
        // background: $white-color;
        background: red;
        margin: 44px;

        &__item {
            max-width: 355px;
            filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
        }

        &__img {
            max-width: 307px;
            margin: 24px 18px 19px;
        }

        &__box {
            display: flex;
            margin-bottom: 12px;
        }

        &__vanilla,
        &__latte,
        &__espresso,
        &__price {
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: $black-color;
        }

        &__vanilla{
            font-weight: 600;
            margin-right: 69px;
        }

        &__latte {
            margin-right: 44px;
        }

        &__espresso {
            margin-right: 118px;
        }

        &__price {
            font-weight: 700;
        }

        &__choice {
            display: flex;
            margin-bottom: 19px;
        }

        &__cart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 64px;
            background: $span-color;
        }
    }
}
    
