@import "../base/fonts";
@import "../base/variables";

.popular {
    width: 100%;
    margin-top: -320px;
    padding: 0 0 120px;
    background: transparent;

    @media screen and (max-width: 1024px) {
        margin-top: -160px;
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em; 
        color: $bl-color;

        &_subtitle {
            border-radius: 12px;
            text-decoration: underline $span-color;
        }
    }

    .order {
        display: flex;
        padding: 0;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            margin: 0 auto;
            flex-direction: column;
            justify-content: center;
        }

        &__icon {
            position: absolute;
            top: 30px;
            left: 30px
        }

        &__item {
            max-width: 355px;
            border-radius: 12px;
            background: $white-color;
            filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
            backdrop-filter: blur(2px);

            @media screen and (max-width: 1024px) {
                margin: 20px auto;
                justify-content: center;
            }
        }

        &__img {
            max-width: 307px;
            padding: 19px 18px;

            @media screen and (max-width: 380px) {
                padding: 10px 9px;
                justify-content: center;
              }
        }

        &__box, 
        &__choice {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
        }

        &__choice {
            margin-bottom: 19px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }  
        }

        &__name {
            font-weight: 600px;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.04em;
            color: $black-color;
        }

        &__price {
            font-weight: 700;
            letter-spacing: 0.04em;
            color: $black-color;
        }

        &__button {

            @media screen and (max-width: 1024px) {
                margin: 0 auto;
            }
        }

        &__cart {
            display: flex;
            align-items: center;
            padding: 10px 10px;
            border-radius: 64px;
            background: $span-color;

            @media screen and (max-width: 1024px) {
                display: flex;
                margin: 20px auto;
            }
        }
    }
}
    
