@import "../base/fonts";
@import "../base/variables";

.tagline {
    margin-top: 120px;

    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__box {
        max-width: 945px;
        border-radius: 0px 24px 24px 0px;
        background-image: url(../../img/bg-about.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    &__block {
        max-width: 415px;
        padding: 170px 136px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em;
        align-items: center;
        color: $bl-color;
    }

    &__subtitle {
        margin-top: 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $text-color;
    }

    .clients {
        display: flex;
        justify-content: space-between;
        padding-top: 102px;

        &__img {
            max-width: 260px;
        }

        &__item {
            max-width: 850px;
            max-height: 312px;

            justify-content: space-between;
        }

        &__recall {
            position: absolute;
            max-width: 227px;
            max-height: 87px;
            margin-left: 30px;
            margin-top: -130px;
            background: #FFCB7C;
            border: 6px solid #FFD3909E;
            border-radius: 8px;
            overflow: hidden;
        }

        &__name {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.04em;
            color: $black-color;
        }
        
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.04em;
            color: $black-color;
        }
    }
}