@import "../base/fonts";
@import "../base/variables";

.tagline {
    position: relative;
    margin-top: 120px;
    background-image: url(../../img/bg-about.png);
    background-size: 60% 100%;
    background-repeat: no-repeat;
    border-radius: 0px 24px 24px 0px;

    @media screen and (max-width: 1024px) {
        margin: 60px auto 0;
        background-size: 60% 100%;
    }

    &__container {
        padding-top: 170px;
        padding-bottom: 170px;

        @media screen and (max-width: 1024px) {
            padding-top: 85px;
            padding-bottom: 85px;
            flex-direction: column;
        }
    }

    &__block {
        max-width: 415px;

        @media screen and (max-width: 1024px) {
           margin: 0 auto;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em;
        align-items: center;
        color: $bl-color;
    }

    &__subtitle {
        margin-top: 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $text-color;
    }

    .clients {
        width: 100%;
        max-width: 850px;
        display: flex;
        position: absolute;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding: 0 20px 0 0;
        top: 20px;
        right: 0;

        @media screen and (max-width: 1024px) {
            width: 50%;
            max-width: 400px;
            padding-top: 300px;
            flex-direction: column;
            margin: 0 auto;
        }

        &__img {
            max-width: 200px;
        }

        &__item {
            max-width: 260px;
            padding-top: 100px;

            @media screen and (max-width: 1024px) {
                padding-top: 50px;
            }
        }

        &__recall {
            position: absolute;
            max-width: 227px;
            max-height: 87px;
            margin-left: 30px;
            margin-top: -130px;
            overflow: hidden;
            border-radius: 8px;
            border: 6px solid #FFD3909E;
            background: #FFCB7C;

            @media screen and (max-width: 1024px) {
                max-width: 120px;
                max-height: 45px;
                margin-top: -75px;
            }
        }

        &__name {
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.04em;
            color: $black-color;

            @media screen and (max-width: 1024px) {
                font-weight: 500;
                font-size: 9px;
                line-height: 15px;
                letter-spacing: 0.04em;
            }
        }
        
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.04em;
            color: $black-color;

            @media screen and (max-width: 1024px) {
                font-weight: 400;
                font-size: 7px;
                line-height: 11px;
            }
        }
    }
}