@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.search {
  display: flex;
  align-items: center;
}
.search__form {
  display: flex;
  width: 100%;
  max-width: 222px;
  border-radius: 35px;
  padding: 11px 18px;
  background: #FFFFFF;
}
.search__field {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  padding-left: 5px;
}
@media (max-width: 1024px) {
  .search__field {
    width: 0;
  }
}
.search__icon {
  width: 24px;
}
.search__carts {
  margin: 24px;
}

.search__form {
  max-width: 490px;
  height: 4vh;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 35px;
  background: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .search__form {
    max-width: 300px;
  }
}
.search__adress {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}

.button_dark {
  display: flex;
  padding: 12px 32px;
  margin-right: 26px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border-radius: 33px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}
.button_dark svg {
  margin: 10px;
}
.button_dark-about {
  padding: 10px 24px;
  background: #2F2105;
  border-radius: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #F4AE26;
}
.button_dark-footer {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border-radius: 33px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}
@media screen and (max-width: 1024px) {
  .button_dark-footer {
    padding: 6px 16px;
  }
}
.button_more {
  max-width: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #F4AE26;
}
.button_hot, .button_cold {
  max-width: 64px;
  max-height: 32px;
  padding: 5px;
  border-radius: 8px;
}
.button_hot {
  margin-right: 24px;
  border: 2px solid #FF912B;
  color: #FF912B;
}
.button_cold {
  border: 2px solid #FFD28F;
  color: #FFD28F;
}

/*# sourceMappingURL=commons.css.map */
