@import "variables";
@import "fonts";

  .container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    }

  //ANIMATION
  .link-anima {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background-color: $menu-color;
      transition: width .4s;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  //SEARCH-HEADER
    .search {
      display: flex;
      align-items: center;
  
      &__form {
        display: flex;
        width: 100%;
        max-width: 222px;
        border-radius: 35px;
        padding: 11px 18px;
        background: $white-color;
      }

      &__field {
        border: 0;
        outline: 0;
        font-size: 16px;
        background: transparent;
        padding-left: 5px;

        @media (max-width: 1024px) {
          width: 0;
        }
      }

      &__icon {
        width: 24px;
      }

      &__carts {
        margin: 24px;
      }
  }

  //SEARCH-FOOTER
  .search {

    &__form {
      width: 100%;
      max-width: 490px;
      margin: 0 auto;
      justify-content: space-between;
      border-radius: 35px;
      background: $white-color;

      @media screen and (max-width: 1024px) {
        max-width: 300px;
        margin: 0 auto;
      }

      @media screen and (max-width: 522px) {
       flex-direction: column;
      }
    }

    &__adress {
      border: 0;
      outline: 0;
      font-size: 16px;
      background: transparent;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      color: $text-color;

      @media screen and (max-width: 1024px) {
        max-width: 100px;
        margin: 0 auto;
      }
    }
  }

  //BUTTON
  .button {

    &_dark {
      display: flex;
      padding: 12px 32px;
      margin-right: 26px;
      align-items: center;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      border-radius: 33px;
      color: $white-color;
      background: $black-color;
      box-shadow: 0 4px 32px rgba(223, 195, 124, 0.25);

      svg {
        margin: 10px;
      }

      &:hover {
        transition: all .4s;
        border: 0;
        background-color: $box-color;
        color: $black-color;
      }
    }

    &_dark-about {
      padding: 10px 24px;
      border-radius: 33px;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      background: $black-color;
      color: $menu-color;

      &:hover {
        transition: all .4s;
        border: 0;
        background-color: $box-color;
        color: $black-color;
      }

      @media screen and (max-width: 1024px) {
        display: block;
        text-align: center;
      }
    }

    &_dark-footer {
      display: flex;
      align-items: center;
      padding: 12px 32px;
      border-radius: 33px;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $white-color;
      background: $black-color;
      box-shadow: 0 4px 32px rgba(223, 195, 124, 0.25);

      @media screen and (max-width: 1024px) {
        display: block;
        margin-top: 16px;
        text-align: center;
      }

      &:hover {
        transition: all .4s;
        border: 0;
        background-color: $text-color;
        color: $white-color;
      }
    }

    &_more {
      max-width: 70px;
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: $menu-color;

      &:hover {
        transition: all .4s;
        border: 0;
        color: $black-color;
      }
    }

    &_hot,
    &_cold {
      width: 64px;
      padding: 5px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border-radius: 8px;

      &:hover {
        transition: all .4s;
        border-color: $black-color;
        color: $black-color;
      }
    }

    &_hot {
      border: 2px solid $span-color;
      color: $span-color;
    }

    &_cold {
      border: 2px solid $cold-color;
      color: $cold-color;
    }
  }