$primary-color:#FF902A;
$light-color:#F9D9AA;

$bg-color: #F7EBDA;

$search-color:#929292;

$span-color:#FF912B;
$bl-color:#000000;

$black-color:#2F2105;
$text-color:#7E7D7A;
$menu-color:#F4AE26;

$box-color:#FFD3909E;

$white-color:#FFFFFF;

$cold-color:#FFD28F;

$tagline-color :#FFCB7C;

