@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.search {
  display: flex;
  align-items: center;
}
.search__form {
  display: flex;
  width: 100%;
  max-width: 222px;
  border-radius: 35px;
  padding: 11px 18px;
  background: #FFFFFF;
}
.search__field {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  padding-left: 5px;
}
@media (max-width: 1024px) {
  .search__field {
    width: 0;
  }
}
.search__icon {
  width: 24px;
}
.search__carts {
  margin: 24px;
}

.search__form {
  max-width: 490px;
  height: 4vh;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 35px;
  background: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .search__form {
    max-width: 300px;
  }
}
.search__adress {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}

.button_dark {
  display: flex;
  padding: 12px 32px;
  margin-right: 26px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border-radius: 33px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}
.button_dark svg {
  margin: 10px;
}
.button_dark-about {
  padding: 10px 24px;
  background: #2F2105;
  border-radius: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #F4AE26;
}
.button_dark-footer {
  padding: 12px 32px;
  border-radius: 33px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}
@media screen and (max-width: 1024px) {
  .button_dark-footer {
    padding: 6px 16px;
  }
}
.button_more {
  max-width: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #F4AE26;
}
.button_hot, .button_cold {
  max-width: 64px;
  max-height: 32px;
  padding: 5px;
  border-radius: 8px;
}
.button_hot {
  margin-right: 24px;
  border: 2px solid #FF912B;
  color: #FF912B;
}
.button_cold {
  margin-right: 107px;
  border: 2px solid #FFD28F;
  color: #FFD28F;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.hero {
  min-height: 1100px;
  top: 0;
  background-image: url("../../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  display: flex;
  align-items: center;
  padding-top: 180px;
}
@media (max-width: 1024px) {
  .hero__container {
    padding-top: 90px;
    flex-direction: column;
  }
}
.hero__enjoy {
  display: flex;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  .hero__enjoy {
    margin: 0 auto;
    padding: 25px 20px;
    flex-direction: column;
  }
}
.hero__box {
  max-width: 490px;
  margin-right: 167px;
}
@media (max-width: 1024px) {
  .hero__box {
    margin: 0 auto;
    padding: 10px 10px;
  }
}
.hero__img {
  max-width: 527px;
}
@media (max-width: 1024px) {
  .hero__img {
    margin: 0 auto;
  }
}
.hero__button {
  display: flex;
}
@media (max-width: 1024px) {
  .hero__button {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
.hero__order {
  display: flex;
}
.hero__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
  color: #2F2105;
}
.hero__title_color {
  color: #FF912B;
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #7E7D7A;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.header {
  width: 100%;
  margin-top: 70px;
  top: 0;
  position: absolute;
  background: transparent;
}
.header__container {
  display: flex;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  margin-left: auto;
}
.header .logo {
  max-height: 30px;
}
.header .logo svg {
  max-height: 30px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 269px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.main-menu__link {
  margin-left: 32px;
  color: #2F2105;
}
.main-menu__link_about {
  color: #FF912B;
}
@media (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}

.mobile-menu {
  height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20;
  right: 0;
  left: 0;
  font-size: 24px;
  line-height: 28px;
  background-color: #FFFFFF;
}
.mobile-menu:hover {
  color: #000000;
  text-decoration: underline;
}
.mobile-menu__menu {
  margin: 0 auto;
  margin: 20px;
  color: #2F2105;
}

.burger {
  display: none;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  background-image: url("../../img/burger-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.burger-active {
  background-image: url("../../img/close-menu.svg");
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.popular {
  width: 100%;
  margin: -320px auto 120px;
  padding: 0;
  top: 0;
  background: transparent;
}
@media screen and (max-width: 1024px) {
  .popular {
    margin: 0 auto;
    padding: 20px 20px;
  }
}
.popular__container {
  justify-content: space-between;
  padding-top: -100px;
}
@media screen and (max-width: 1024px) {
  .popular__container {
    margin: 0 auto;
    padding-top: -50px;
  }
}
.popular__title {
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.popular__title_subtitle {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.popular .order {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .popular .order {
    margin: 0 auto;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
  }
}
.popular .order__icon {
  position: absolute;
  margin: 30px 28px;
}
.popular .order__item {
  max-width: 355px;
  justify-content: space-between;
  border-radius: 12px;
  background: #FFFFFF;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 1024px) {
  .popular .order__item {
    margin: 20px auto;
    justify-content: center;
  }
}
.popular .order__img {
  max-width: 307px;
  margin: 19px 18px auto;
}
@media screen and (max-width: 1024px) {
  .popular .order__img {
    margin: 10px 9px auto;
    justify-content: center;
  }
}
.popular .order__box, .popular .order__choice {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.popular .order__choice {
  margin-bottom: 19px;
}
@media screen and (max-width: 1024px) {
  .popular .order__choice {
    margin: 10px auto;
    display: flex;
  }
}
.popular .order__name {
  font-weight: 600px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.popular .order__price {
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.popular .order__button {
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .popular .order__button {
    margin: 0 auto;
  }
}
.popular .order__cart {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 64px;
  background: #FF912B;
}
@media screen and (max-width: 1024px) {
  .popular .order__cart {
    margin: 20px auto;
    border-radius: 32px;
    align-items: center;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.delivery {
  margin: 120px 135px;
}
@media screen and (max-width: 1024px) {
  .delivery {
    margin: 60px auto;
    padding: 20px 20px;
  }
}
.delivery__container {
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .delivery__container {
    margin: 0 auto;
    padding: 20px 20px;
  }
}
.delivery__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  color: #000000;
}
.delivery__title_subtitle {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.delivery .box {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .delivery .box {
    margin: 0 auto;
    flex-direction: column;
  }
}
.delivery .box__item {
  max-width: 370px;
  padding: 27px 45px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .delivery .box__item {
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
  }
}
.delivery .box__img {
  max-width: 159px;
}
.delivery .box__info {
  margin: 0 auto;
}
.delivery .box__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.delivery .box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.about {
  min-height: 485px;
  margin-bottom: 120px;
  padding-top: 85px;
  padding-bottom: 60px;
  background-image: url(../../img/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}
@media screen and (max-width: 1024px) {
  .about {
    min-height: 240px;
    margin: 0 auto 60px;
    padding: 42px 20px 30px;
  }
}
.about__container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .about__container {
    flex-direction: column;
  }
}
.about__img {
  max-width: 370px;
  margin-top: -170px;
  margin-left: 93px;
  border: 6px solid #FFFFFF;
  border-radius: 20px;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
}
@media screen and (max-width: 1024px) {
  .about__img {
    margin: -80px auto;
  }
}
.about__info {
  max-width: 480px;
}
@media screen and (max-width: 1024px) {
  .about__info {
    max-width: 240px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
  }
}
.about__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.about__title_span {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.about__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.menu {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .menu {
    margin: 0 auto;
    padding: 20px 20px;
  }
}
.menu__container {
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .menu__container {
    margin: 0 auto;
  }
}
.menu__title {
  margin-bottom: 38px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.menu__title_span {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.menu__title__top {
  margin-bottom: 40px;
}
.menu .order {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .menu .order {
    margin: 0 auto;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
  }
}
.menu .order__item {
  max-width: 345px;
  padding: 24px 19px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #FFFFFF;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 1024px) {
  .menu .order__item {
    margin: 20px auto;
    padding: 20px;
    justify-content: center;
  }
}
.menu .order__icon {
  position: absolute;
  margin: 11px 10px;
}
.menu .order__img {
  max-width: 307px;
  margin: 19px 18px auto;
}
@media screen and (max-width: 1024px) {
  .menu .order__img {
    margin: 10px 9px auto;
    justify-content: center;
  }
}
.menu .order__box {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.menu .order__name {
  font-weight: 600px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.menu .order__price {
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.menu .order__pick {
  padding: 0 10px;
  justify-content: space-between;
}
.menu .order__choice {
  display: flex;
  margin-bottom: 5px;
}
.menu .order__text {
  margin-right: 75px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}
.menu .order__cart {
  width: 40px;
  height: 28px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 50%;
  background: #FF912B;
}
@media screen and (max-width: 1024px) {
  .menu .order__cart {
    margin: 20px auto;
    border-radius: 32px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.tagline {
  margin-top: 120px;
  background-image: url(../../img/bg-about.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.tagline__container {
  padding-top: 170px;
  padding-bottom: 170px;
}
.tagline__block {
  max-width: 415px;
}
.tagline__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  align-items: center;
  color: #000000;
}
.tagline__subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #7E7D7A;
}
.tagline .clients {
  max-width: 850px;
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.tagline .clients__img {
  max-width: 200px;
}
.tagline .clients__item {
  max-width: 260px;
  padding-top: 100px;
}
.tagline .clients__recall {
  position: absolute;
  max-width: 227px;
  max-height: 87px;
  margin-left: 30px;
  margin-top: -130px;
  background: #FFCB7C;
  border: 6px solid rgba(255, 211, 144, 0.6196078431);
  border-radius: 8px;
  overflow: hidden;
}
.tagline .clients__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.tagline .clients__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #2F2105;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.footer {
  height: 50vh;
  margin: 120px 135px;
  border-radius: 24px;
  background-image: url("../../img/footer-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .footer {
    margin: 60px 65px;
  }
}
.footer__container {
  padding-top: 8%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .footer__container {
    margin: 0 auto;
  }
}
.footer__title {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

/*# sourceMappingURL=home.css.map */
