@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.link-anima {
  position: relative;
}
.link-anima::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #F4AE26;
  transition: width 0.4s;
}
.link-anima:hover::before {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
}
.search__form {
  display: flex;
  width: 100%;
  max-width: 222px;
  border-radius: 35px;
  padding: 11px 18px;
  background: #FFFFFF;
}
.search__field {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  padding-left: 5px;
}
@media (max-width: 1024px) {
  .search__field {
    width: 0;
  }
}
.search__icon {
  width: 24px;
}
.search__carts {
  margin: 24px;
}

.search__form {
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 35px;
  background: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .search__form {
    max-width: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 522px) {
  .search__form {
    flex-direction: column;
  }
}
.search__adress {
  border: 0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}
@media screen and (max-width: 1024px) {
  .search__adress {
    max-width: 100px;
    margin: 0 auto;
  }
}

.button_dark {
  display: flex;
  padding: 12px 32px;
  margin-right: 26px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border-radius: 33px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0 4px 32px rgba(223, 195, 124, 0.25);
}
.button_dark svg {
  margin: 10px;
}
.button_dark:hover {
  transition: all 0.4s;
  border: 0;
  background-color: rgba(255, 211, 144, 0.6196078431);
  color: #2F2105;
}
.button_dark-about {
  padding: 10px 24px;
  border-radius: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #2F2105;
  color: #F4AE26;
}
.button_dark-about:hover {
  transition: all 0.4s;
  border: 0;
  background-color: rgba(255, 211, 144, 0.6196078431);
  color: #2F2105;
}
@media screen and (max-width: 1024px) {
  .button_dark-about {
    display: block;
    text-align: center;
  }
}
.button_dark-footer {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border-radius: 33px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  background: #2F2105;
  box-shadow: 0 4px 32px rgba(223, 195, 124, 0.25);
}
@media screen and (max-width: 1024px) {
  .button_dark-footer {
    padding: 6px 16px;
  }
}
.button_dark-footer:hover {
  transition: all 0.4s;
  border: 0;
  background-color: #7E7D7A;
  color: #FFFFFF;
}
.button_more {
  max-width: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #F4AE26;
}
.button_more:hover {
  transition: all 0.4s;
  border: 0;
  color: #2F2105;
}
.button_hot, .button_cold {
  width: 64px;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
}
.button_hot:hover, .button_cold:hover {
  transition: all 0.4s;
  border-color: #2F2105;
  color: #2F2105;
}
.button_hot {
  border: 2px solid #FF912B;
  color: #FF912B;
}
.button_cold {
  border: 2px solid #FFD28F;
  color: #FFD28F;
}

.header {
  width: 100%;
  margin-top: 70px;
  top: 0;
  position: absolute;
  background: transparent;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .header {
    position: relative;
    margin: 0;
    position: sticky;
    top: 0;
    background: #FFFFFF;
  }
}
.header__container {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .header__search {
    display: none;
  }
}
.header .logo {
  max-height: 30px;
}
.header .logo svg {
  max-height: 30px;
}
.header .logo:hover {
  transition: 0.8s;
  transform: rotateX(360deg);
}

.main-menu {
  width: 100%;
  max-width: 430px;
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.main-menu__link {
  margin-left: 32px;
  color: #2F2105;
}
.main-menu__link_about {
  color: #FF912B;
}
@media (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}

.mobile-menu {
  width: 30vh;
  height: 100vh;
  display: none;
  flex-direction: column;
  z-index: 999999;
  position: fixed;
  padding-top: 15%;
  gap: 40px;
  top: 60px;
  right: 0;
  z-index: 3;
  align-items: center;
  background-color: #FFFFFF;
}
.mobile-menu__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2F2105;
}
.mobile-menu__search {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mobile-menu__search {
    display: flex;
    align-items: center;
  }
}

.burger {
  position: relative;
  z-index: 9999;
  display: none;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  background-image: url("../../img/burger-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.burger-active {
  background-image: url("../../img/close-menu.svg");
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.hero {
  position: relative;
  min-height: 1100px;
  top: 0;
  background-image: url("../../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  display: flex;
  align-items: center;
  padding-top: 180px;
  z-index: 2;
}
.hero__enjoy {
  display: flex;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  .hero__enjoy {
    margin: 0 auto;
    padding: 25px 20px;
    flex-direction: column;
  }
}
.hero__box {
  max-width: 490px;
  margin-right: 167px;
}
@media (max-width: 1024px) {
  .hero__box {
    margin: 0 auto;
  }
}
.hero__img {
  max-width: 527px;
}
@media (max-width: 1024px) {
  .hero__img {
    margin: 0 auto;
  }
}
.hero__img_right {
  align-items: flex-end;
}
.hero__button {
  display: flex;
}
@media (max-width: 1024px) {
  .hero__button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 268px) {
  .hero__button {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
.hero__order {
  display: flex;
}
.hero__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
  color: #2F2105;
}
.hero__title_color {
  color: #FF912B;
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #7E7D7A;
}

.coffee {
  position: absolute;
  max-width: 600px;
  z-index: 0;
}
.coffee_left {
  left: 0;
  bottom: 0;
}
.coffee_right {
  right: 0;
  top: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.popular {
  width: 100%;
  margin-top: -320px;
  padding: 0 0 120px;
  background: transparent;
}
@media screen and (max-width: 1024px) {
  .popular {
    margin: -160px auto 0;
  }
}
.popular__container {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .popular__container {
    margin: 0 auto;
  }
}
.popular__title {
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.popular__title_subtitle {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.popular .order {
  display: flex;
  padding: 0;
  gap: 40px;
}
@media screen and (max-width: 1145px) {
  .popular .order {
    flex-direction: column;
    gap: 20px;
  }
}
.popular .order__icon {
  position: absolute;
  top: 30px;
  left: 30px;
}
.popular .order__item {
  width: 355px;
  border-radius: 12px;
  background: #FFFFFF;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 1145px) {
  .popular .order__item {
    width: 100%;
    text-align: center;
  }
}
.popular .order__img {
  width: 307px;
  padding: 19px 18px;
}
@media screen and (max-width: 1145px) {
  .popular .order__img {
    width: 50%;
  }
}
.popular .order__box {
  padding: 19px 29px;
}
.popular .order__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .order__name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.popular .order__name-price {
  width: 48px;
  font-weight: 700;
}
.popular .order__choice {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}
.popular .order__button {
  display: flex;
  align-items: center;
  gap: 12px;
}
.popular .order__cart {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 64px;
  background: #FF912B;
}
.popular .order__cart:hover {
  transition: all 0.4s;
  border: 0;
  background-color: #7E7D7A;
  color: #2F2105;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.delivery {
  margin-bottom: 120px;
}
.delivery__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  color: #000000;
}
.delivery__title_subtitle {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.delivery .box {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .delivery .box {
    margin: 0 auto;
    flex-direction: column;
  }
}
.delivery .box__item {
  max-width: 370px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .delivery .box__item {
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
  }
}
.delivery .box__img {
  max-width: 159px;
}
.delivery .box__info {
  margin: 0 auto;
}
.delivery .box__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.delivery .box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.about {
  min-height: 485px;
  margin-bottom: 120px;
  padding-top: 85px;
  padding-bottom: 60px;
  background-image: url(../../img/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}
@media screen and (max-width: 1024px) {
  .about {
    min-height: 240px;
    margin: 0 auto 60px;
    padding: 42px 0 30px;
  }
}
.about__container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .about__container {
    flex-direction: column;
  }
}
.about__img {
  max-width: 370px;
  margin-top: -170px;
  margin-left: 93px;
  border: 6px solid #FFFFFF;
  border-radius: 20px;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
}
@media screen and (max-width: 1024px) {
  .about__img {
    margin: -85px auto;
  }
}
.about__info {
  max-width: 480px;
}
@media screen and (max-width: 1024px) {
  .about__info {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
.about__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.about__title_span {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.about__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.menu {
  width: 100%;
  padding-bottom: 120px;
}
@media screen and (max-width: 1024px) {
  .menu__container {
    margin: 0 auto;
  }
}
.menu__title {
  margin-bottom: 38px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.menu__title_span {
  border-radius: 12px;
  text-decoration: underline #FF912B;
}
.menu__title__top {
  margin-bottom: 40px;
}
.menu .order {
  display: flex;
  padding: 0;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .menu .order {
    flex-direction: column;
  }
}
.menu .order__item {
  width: 345px;
  padding: 24px 19px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #FFFFFF;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 1024px) {
  .menu .order__item {
    width: 100%;
  }
}
.menu .order__icon {
  position: absolute;
  top: 30px;
  left: 30px;
}
.menu .order__img {
  width: 307px;
  padding: 19px 18px;
}
@media screen and (max-width: 380px) {
  .menu .order__img {
    width: 160px;
  }
}
.menu .order__price {
  display: flex;
  justify-content: space-between;
}
.menu .order__name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
.menu .order__choice {
  display: flex;
  justify-content: space-between;
}
.menu .order__text {
  max-width: 160px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #7E7D7A;
}
.menu .order__cart {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 64px;
  background: #FF912B;
}
.menu .order__cart:hover {
  transition: all 0.4s;
  border: 0;
  background-color: #7E7D7A;
  color: #2F2105;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.tagline {
  position: relative;
  background-image: url(../../img/bg-about.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .tagline {
    margin: 60px auto 0;
    background-size: 100%;
  }
}
.tagline__container {
  padding-top: 170px;
  padding-bottom: 170px;
}
@media screen and (max-width: 1024px) {
  .tagline__container {
    flex-direction: column;
  }
}
.tagline__block {
  max-width: 415px;
}
@media screen and (max-width: 1024px) {
  .tagline__block {
    margin: 0 auto;
  }
}
.tagline__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  align-items: center;
  color: #000000;
}
.tagline__subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #7E7D7A;
}
.tagline .clients {
  width: 100%;
  max-width: 850px;
  display: flex;
  position: absolute;
  gap: 80px;
  margin: 0;
  padding: 0 20px 0 0;
  top: 20px;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .tagline .clients {
    max-width: 400px;
    margin: 0 auto;
    padding: 300px 10px 0;
    flex-direction: column;
  }
}
.tagline .clients__img {
  max-width: 200px;
}
.tagline .clients__item {
  max-width: 260px;
  padding-top: 100px;
}
@media screen and (max-width: 1024px) {
  .tagline .clients__item {
    padding-top: 50px;
  }
}
.tagline .clients__recall {
  position: absolute;
  width: 227px;
  height: 87px;
  left: 30px;
  bottom: 35px;
  overflow: hidden;
  border-radius: 8px;
  border: 6px solid rgba(255, 211, 144, 0.6196078431);
  background: #FFCB7C;
}
.tagline .clients__name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
@media screen and (max-width: 1024px) {
  .tagline .clients__name {
    font-weight: 500;
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0.04em;
  }
}
.tagline .clients__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #2F2105;
}
@media screen and (max-width: 1024px) {
  .tagline .clients__text {
    font-size: 7px;
    line-height: 11px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.eot") format("embedded-opentype"), url("../../fonts/Poppins-Regular.svg") format("svg"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.eot") format("embedded-opentype"), url("../../fonts/Poppins-Medium.svg") format("svg"), url("../../fonts/Poppins-Medium.woff") format("woff"), url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.eot") format("embedded-opentype"), url("../../fonts/Poppins-SemiBold.svg") format("svg"), url("../../fonts/Poppins-SemiBold.woff") format("woff"), url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.eot") format("embedded-opentype"), url("../../fonts/Poppins-Bold.svg") format("svg"), url("../../fonts/Poppins-Bold.woff") format("woff"), url("../../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 500;
}
.footer {
  width: 100%;
  max-width: 1170px;
  padding: 130px 0;
  margin: 120px auto;
  border-radius: 24px;
  background-image: url("../../img/footer-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .footer {
    width: 50%;
    max-width: 600px;
    margin: 60px auto;
  }
}
.footer__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

/*# sourceMappingURL=home.css.map */
